body{
    font-family: 'montserratregular', 'lobster_1.3regular', 'Comic Sans MS', Helvetica, Arial, sans-serif;
}
#top-bar {
    position: absolute;
    top: 0;
    height: 15vh;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(52,1,106,0.55) 0%, rgba(49,104,158,0.6) 50%, rgba(36,205,208,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(52,1,106,0.55) 0%,rgba(49,104,158,0.6) 50%,rgba(36,205,208,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(52,1,106,0.55) 0%,rgba(49,104,158,0.6) 50%,rgba(36,205,208,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c34016a', endColorstr='#a624cdd0',GradientType=0 ); /* IE6-9 */
}

#search-zone {
    position: absolute;
    top:3vh;
    padding-right: 10px;
}

#search-input {
    height: 8vh;
    width: 100%;
    font-size: 3vh;
    padding-left: 42px;
    padding-right: 40px;
}

#search-field {
    overflow: hidden;
    width: 80vw;
    margin-left: 10vw;
}

#search-form > input {
    position: absolute;
    top: 0;
    width: 8vh;
    height: 8vh;
    background-size: 50% 50%;
    border: none;
}

#go-search {
    left: 10vw;
    background: url(../img/loupe.png) no-repeat center;
}

#filters {
    left: 77vw;
    background: url(../img/filtres.png) no-repeat center;
}

#concerts-number {
    position: absolute;
    top:15vh;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    text-transform: none;
    vertical-align: bottom;
    color: #292929;
    background-color: rgba(255,255,255,.8);
}

#concerts-loading {
    position: fixed;
    top: 17vh;
    left: 5px;
}

#concerts-loading > svg {
    height: 30px;
    width: 30px;
}

#concerts-loading > svg > circle {
    stroke: #292929;
}

#concerts-list {
    position: absolute;
    top: 15vh;
    width: 100%;
    height: 85vh;
    padding: 10vh 4.5vw;
    background-color: #fff;
    overflow-y: scroll;
}

#concerts-list .concert {
    width: 28vw;
    height: 32vw;
    float:left;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    margin: 2vh 1.5vw;
}

#concerts-list .info {
    position: relative;
    margin-top: 30vw;
    height: 6vw;
    width: 100%;
}

#concerts-list .info > div {
    color: #292929;
    font-size: 2.5vw;
    text-transform: capitalize;
}

#concerts-list .artist {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#edit-filters {
    position: absolute;
    height: 0;
    width: 100vw;
    opacity: 0;
    top:0;
    left:0;
    margin:auto;
    /*background-color: #000;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#34016a+0,31689e+50,24cdd0+100&0.55+0,0.65+100 */
    background: -moz-linear-gradient(top, rgba(52,1,106,1) 0%, rgba(49,104,158,1) 50%, rgba(36,205,208,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(52,1,106,1) 0%,rgba(49,104,158,1) 50%,rgba(36,205,208,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(52,1,106,1) 0%,rgba(49,104,158,1) 50%,rgba(36,205,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c34016a', endColorstr='#a624cdd0',GradientType=0 ); *//* IE6-9 */
    z-index: 100;
    text-align:center;
    font-family: 'montserratregular', 'lobster_1.3regular', 'Comic Sans MS', Helvetica, Arial, sans-serif;
}

#filters-loading {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 999;
}

#filters-loading > svg {
    height: 30px;
    width: 30px;
}

#filters-loading > svg > circle {
    stroke: #fff;
}

#close-filters{
    left:6%;
    top:4%;
    position:absolute;
    font-size:1.2rem;
}

#reset-filters{
    position:absolute;
    right:6vw;
    top:4vh;
    font-weight: bold;
    text-transform: none;
}

.title {
    position:relative;
    margin-top: 15px;
    margin-left: 5vw;
    width:90vw;
    text-align: left;
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
}

#geo{
    position:absolute;
    top:12vh;
}

#location {
    width: 90vw;
    border: none;
    color: #D0CCDF;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}

#location::placeholder {
    color: #D0CCDF;
}

#range {
    width: 90vw;
}

#range-value{
    margin-top:1vh;
}

#categories{
    margin-left: 5vw;
    width: 90vw;
    display:table;
}

.category{
    border-radius: 45px;
    border: 1px solid #fff;
    display: table-cell;
    padding: 2px 5px;
    margin:  5px 3px;
    float:left;
    text-transform: capitalize;
    font-weight: bold;
}

.category.selected {
    background-color: #CAD5E4;
}

#location{
    margin-top:30%;
}

#date-inputs {
    display: table;
    table-layout: fixed;
    margin-left: 5vw;
}

#date-inputs .table-input-row {
    display: table-row;
    line-height: 35px;
}

#date-inputs .table-input-row > * {
    display: table-cell;
}

#date-inputs label {
    width: 30vw;
    text-align: left;
    font-weight: bold;
    text-transform: none;
}

#date-inputs input {
    width: 30vw;
    text-align: right;
    font-weight: bold;
    border: none;
    border-radius: 45px;
    color: #fff;
    background-color: #CAD5E4;
    padding: 2px 5px;
}

#concerts-number-filters {
    position: fixed;
    width: 50vw;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    left: 25vw;
    bottom: 5vh;
    color: #52D6D7;
    font-weight: bold;
    font-size: 16px;
    text-transform: none;
    background-color: #fff;
    border-radius: 45px;
    z-index: 999;
}
