.rectangle_blanc{
	background-color: white;
	margin-top:10vh;
	width:100%;
	height:55vh;
	overflow-y:scroll;
	color:black;
	bottom:0;
	position:absolute;
}

.ligne{
	height:60px;
    width: auto;
	background-color:red;
	position:relative;
	margin-top:10px;
	overflow-x:scroll;
    white-space: nowrap;
    /*overflow-y: scroll;*/
}

.cercle{
	height:50px;
	width:50px;
	position:relative;
	display: inline-block;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	background-color:blue;
	border-radius:45px;
}

.rectangle_blanc p{
font-family: Montserrat;
font-style: bold;
margin-left:5%;
float:bottom;
}

.haut_de_page{
width:100%;
height:75vh;
color:white;
float:top;
background-color:yellow;
}

.info_nom_date_lieu{
bottom:2rem;
left:3rem;
line-height:0.8;
}
.bouton_trouver_un_pote_de_concert{
font-family: 'montserratregular', sans-serif;
    line-height: 10pt;
    font-style: bold;
    height:3rem;
    width:10rem;
    background-color:#33cccc;
    text-align:center;
    border-radius:20%;
    margin-top:5vh;
    margin-left:auto;
    margin-right:auto;
	padding-top:0.1rem;
	color:white;
	margin-bottom:2rem;
}
/*.rectangle{
	background-color:blue;
	margin-left:12vw;
	margin-top:10vh;
	width:40vw;
	height:29vh;
	position:relative;
}

.photo{
	background-color:hotpink;;
	width:100%;
	height:22.5vh;
}

.prenom_age_ville{
	text-align: center;
	top:95%;
}

.roue{
    top: 5%;
    bottom: auto;
    right: 5%;
    left: auto;
    position: fixed;
    background: url(../img/icons/BLANC/PNG/settings.png);
    background-size : 100%;
    height: 35px;
    width: 35px;
	background-image: url("../img/icons/BLANC/PNG/settings.png");
}

.profil_favoris{
    top: 27%;
    bottom:auto;
    right: 13%;
    left:auto;
    position:fixed;
}*/