html {
  font-size: 62.5%;
}

.favoris{
	margin-top: 3vh;
	text-transform : none;
}

body{
overflow-y:scroll;
background-position:fixed;
}
.back_link{

	font-family: 'montserratregular', 'lobster_1.3regular', 'Comic Sans MS', Helvetica, Arial, sans-serif;
	margin:  35vh 0 0 5vw;
	text-decoration:none; 
	color: white;
	font-weight: bold;
	}
.page_title{
	font-family : 'lobster_1.3regular', 'montserratregular', 'Comic Sans MS', Helvetica, Arial, sans-serif;
	text-transform : none;
	font-size: 225%;
	margin-left: 10vw;
}

#favoris_partie_concert{
	font-family: 'montserratregular', 'lobster_1.3regular', 'Comic Sans MS', Helvetica, Arial, sans-serif;
	max-font-size: 12px;
	font-size: 1.2rem;
	float :left;
	margin: 10% 0 0 18%;
	text-decoration:underline;
}

#favoris_partie_artiste{
	font-family: 'montserratregular', 'lobster_1.3regular', 'Comic Sans MS', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	float : right;
	margin: 10% 20% 0 0;
}

.liste_favoris_artiste_et_nbr_abo
{
min-height:50vh;
max-width:auto;
/*background-color:green;*/
margin-top:25vh;
}

.favoris_artiste_et_nbr_abo
{
min-height:20vh;
max-width:60vw;
/*background-color:yellow;*/
margin-top:3%;
margin-left:auto;
margin-right:auto;
border-bottom:1px solid black;
}

.favoris_artiste_et_nbr_abo:last-child
{
padding-bottom:300rem;
}
.photo_artiste{
	min-height:50px;
	min-width:50px;
	position:relative;
	display: inline-block;
	margin-left:10%;
	margin-top:11%;
	margin-bottom:auto;
	background-color:blue;
	border-radius:45px;
	float:left;
}

/*.nom_artiste{
background-color:red;
font-size:12px;
font-size:1.2rem;
padding-bottom:0;
margin-bottom:0;
padding-top:7vh;
text-align:left;
}*/

.nom_artiste_v2
{
/*background-color:red;*/
padding-top:0;
margin-top:3rem;
display: inline-block;
margin-left:5%;
}


.date_et_lieu{
/*background-color:grey;*/
padding-top:0;
margin-top:0;
display: inline-block;
margin-left:5%;
}

.bouton_trouver_plus{
font-family: 'montserratregular';
line-height: 10pt;
font-style: bold;
min-height:5rem;
max-width:10rem;
background-color:blue;
text-align:center;
border-radius:25%;
margin-top:5vh;
padding-top:1px;
margin-left:auto;
margin-right:auto;
}

small{
font-family: 'montserratregular';
}