@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-Regular.ttf);
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-attachment:fixed;
    font-family: 'Montserrat', 'Comic Sans MS', 'Comic Sans MS', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;

    color: #fff;
}

/* Portrait layout (default) */
.app {
    background:url(../img/background-3000.jpg) no-repeat center top;
    /*background-color: dodgerblue;*/
    background-size: auto 100%;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

/* CSS START */
.hidden {
    display: none;
}
/* page */

#sign-in {
    text-align: right;
    position: absolute;
    top: 20px;
    left: 0;
    width: 95%;
    color: white;
}

/* Accueil */

p, div {
    color: #fff;
}

.page-content {
    width: 70vw;
    left: 15vw;
    position: absolute;
    margin-top: 0;
    text-transform: none;
}

#app-intro-connexion {
    height: 5vh;
    width: 40vw;
    font-size : 3vh;
    position: absolute;
    top: 3vh;
    right: 3vh;
    text-transform: none;
    text-align: right;
}

#app-intro-title {
    top: 35vh;
    left: 10vw;
    position: absolute;
    font-size: 8vh;
    margin-top: 0;
    width : 80vw;
    height: 26vh;
    background:url(../img/logo.png) no-repeat;
    background-size: 100% auto;
}

#app-intro-desc {
    font-size: 5vh;
    margin-top: 0;
    top: 60vh;
}

#app-intro-slide {
    font-size: 3vh;
    margin-top: 0;
    top: 90vh;
    text-align: center;
}

/* Inscription */
.page-title {
    font-size: 6vh;
    position:absolute;
    top: 5vh;
    text-align: center;
    width: 100%;
}

#inscription {
    top:20vh;
}

#inscription label {
    font-size: 2vh;
}

#inscription input {
    width: 100%;
    padding: 10px 0;
    margin-bottom:3vh;
}

.infobox {
    float: right;
    font-weight: bold;
    color: red;
}

#form-submit {
    margin-top: 5vh;
}

#creating-account-content {
    padding: 20px;
}

#creating-account-content p {
    color: black;
    text-transform: none;
}

#creating-account-progress {
    float:left;
}

/* Page merci */
#ty-and-bye * {
    position:absolute;
}

#ty-and-bye h1 {
    font-size: 5vh;
    text-align: center;
    width: 100%;
    top: 25vh;
}

#ty-and-bye p {
    text-align: center;
    top: 45vh;
}

#ty-and-bye button {
    text-align: center;
    top: 60vh;
    width: 60vw;
    left: 20vw;
}
