html{
	font-size: 62.5%;
}
p{
	font-family: 'montserratregular', sans-serif;
}
.messagerie{
	padding:2rem;
}
.back_link{
	font-family: 'montserratregular', 'lobster_1.3regular', 'Comic Sans MS', Helvetica, Arial, sans-serif;
	text-decoration:none; 
	color: white;
	font-weight: bold;
	float:left;
	position:absolute;
	top:3rem;
	left:4rem;
	}

.photo_et_prenom{
	margin-top:9rem;
	margin-left:6rem;
	float:left;
	position: relative;
	transform-style: preserve-3d;
}

.photo_profil{
	height:8.0rem;
	width:8.0rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius:45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* compatibilité : ie9+ */
}

.prenom_sous_photo{
	position: absolute;
	margin-top:6rem;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%); /* compatibilité : ie9+ */
}

.bouton_lets_go_together{
	text-align:center;
	padding-left:1.5rem;
	padding-right:1.5rem;
	max-width : 12.5rem;
	float:right;
	background-color:#33cccc;
	margin-top: 6.5rem;
	margin-right:2rem;
	border-radius:20%;
	Line-Height: 12pt;
}

#conversation{
	margin-top:25vh;
	width:90vw;
	height:37rem;
	overflow-y: scroll;
}

#conversation > div {
	clear: both;
	margin-bottom: 10px;
	text-transform: none;
}

.system {
	width: 90vw;
	text-align: center;
	float: left;
	margin-top: 20px;
	font-weight: bold;
}

.message {
	display: table;
}

.time {
	font-size: 12px;
	font-weight: bold;
	margin-top: 1.5em;
}

.content {
	max-width: 35vw;
	padding: .75em;
	font-size: 18px;
}

.received, .received > div {
	float: left;
}

.sent, .sent > div {
	float: right;
}

.received > .content {
	border: 1px solid #CBD0E2;
	border-radius: 30px 30px 30px 0;
}

.sent > .content {
	background-color: #CBD0E2;
	border-radius: 30px 30px 0 30px;
}

.received > .time {
	padding-right: 5px;
}

.sent > .time {
	padding-left: 5px;
}

#new-message {
	resize: none;
	width: 70%;
	height: 44px;
}

#send {
	position: relative;
	width: 20%;
	top: -20px;
	height: 50px;
}