#blocker {
    height: 100%;
    width: 100%;
    background-color: rgba(12,12,12,.8);
    position: fixed;
    top:0;
    left:0;
    z-index: 998;
}

#pop_up{
    text-transform: none;
    background-color:white;
    width:80vw;
    height: 80vh;
    position: fixed;
    margin: 10vh 10vw;
    font-size:14px;
    font-size:1.4rem;
    z-index: 999;
}

#pop_up p{
    text-align:center;
}

#yeah{
    font-family: 'lobster_1.3regular';
    font-size:30px;
    font-size:3rem;
}

p{
    font-family: 'montserratregular', sans-serif;
    color:#666666;
}

#photo_et_prenom_age_ville{
    background-color:red;
    height:auto;
    width:auto;
}

#photo{
    height:5.0rem;
    width:5.0rem;
    border-radius:45px;
    float:left;
	margin-left:1.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#prenom_age_ville{
    float:right;
    width:12.5rem;
	font-size:1.2rem;
}

#presentation{
    float:bottom;
	font-size:1.2rem;
	margin-top:10rem;
}

#lets_talk{
    font-family: 'montserratregular', sans-serif;
    line-height: 10pt;
    font-style: bold;
    min-height:4rem;
    max-width:10rem;
    background-color:#33cccc;
    text-align:center;
    border-radius:35%;
    margin-top:5vh;
    padding-top:0.25rem;
    margin-left:auto;
    margin-right:auto;
}

#lets_talk p{
    color:white;
}

#sry_no{
    margin-top: 2.5rem;
}